.base {
  flex: 0 1 auto;
  overflow: auto;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.images {
  flex: 1 1 auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.footer {
  flex: 0 0 auto;
  padding: 1em;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}
